@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import url('https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600,700,800,900');
@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Bitter:400,400i,700');


body {
  font-family: "Lato", sans-serif;
  background-color: white;
  /*background-image: linear-gradient(to bottom, #315481, #918e82 100%);*/
  background-attachment: fixed;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 10px;
  margin: 0;
  line-height: 138%;
  font-size: 1.1em;
  color: #424242;
  -webkit-font-smoothing: antialiased;
}
a {
  color:black;
  max-width: 300px;
}
em {
  color: #c74e04;
  background: #f9d6c1;
  font-style: normal;
}
img {
    display: block;
    margin: 10px;
    vertical-align: text-top;
    max-width: 70%;
}
blockquote {
  /*padding-left: 10px;*/
  /*border-left: 6px solid whitesmoke;*/
  font-style: italic;
  font-size: 28px;
  border: none;
  text-align: center;
  line-height: 43px;
  color: #b2b2b2;
  padding: 22px;
}
hr {
  border: 1px dashed #ddd;
}
.container {
  max-width: 960px;
  margin: 0 auto;
  min-height: 100%;
  background: white;
}

header {
  /*background: black;*/
  color:black;
  /*background-image: linear-gradient(to bottom, #d0edf5, #e1e5f0 100%);*/
  padding: 20px 0px;
  position: relative;
  margin-bottom: 20px;
}

#login-buttons {
  display: block;
}

.head-title {
  font-family: Bitter;
  font-weight: 700;
  font-size: 1.3em;
  margin: 0;
  color: #ff3c04;
  margin-bottom: 10px;
  display: inline-block;
  margin-right: 1em;
}
h1 {
  font-family: "Lato";
  font-size: 1.2em;
  margin: 0;
  font-weight: 900;
  display: inline-block;
  margin-right: 1em;
  margin-top: 3px;
}
h2 {
  font-family: "Lato";
  font-weight: 900;
  font-size: 1em;
  margin-bottom: 0px;
}
h3 {
  font-size: 0.9em;
  font-weight: 500;
  font-family: "Lato", sans-serif;
  color: #a5a5a5;
  margin: 5px 0;
}

form {
  margin-top: 10px;
  margin-bottom: -10px;
  position: relative;
}

.new-logline input,
.new-logline textarea {
  font-family: "Lato", sans-serif;
  font-size: 1em;
  background: transparent;
  border: none;
  border-bottom: 1px dotted gray;
  width: 100%;
  color: black;
  padding: 12px 5px;
  margin-bottom: 4px;
  resize: none;
  line-height: 145%;
}

.new-logline input:focus,
.new-logline  textarea:focus{
  outline: 0;
}

ul.log-items {
  margin: 0;
  padding: 0;
  background: white;
}

.delete {
  float: right;
  font-weight: bold;
  background: none;
  font-size: 1em;
  border: none;
  position: relative;
}

li.log-line-item {
  position: relative;
  list-style: none;
  padding: 5px 15px;
  border-bottom: #eee solid 1px;
  margin-top:10px;
}
/*li:hover.log-line-item {
  cursor: pointer;
  background-color: whitesmoke;
}*/

li .text {
  margin-left: 10px;
}

li.checked {
  color: #888;
}

li.checked .text {
  text-decoration: line-through;
}

li.private {
  background: #eee;
  border-color: #ddd;
}

header .hide-completed {
  float: right;
}

.toggle-private {
  margin-left: 5px;
}

@media screen and (max-width: 800px) {
  body {
    font-size: 1.6em !important;
  }
  /*li {
    padding: 12px 15px;
  }

  .search {
    width: 150px;
    clear: both;
  }

  .new-logline input,
  .new-logline textarea {
    padding-bottom: 5px;
  }*/
}
.text-muted {
  color: lightgray;
}

.log-line-head {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  letter-spacing: 0.02em;
  font-size: 12px;
  color: #ff3c04;
}

.command {
  padding: 0px;
  text-decoration: underline;
  color: #333;
  margin: 0px 4px;
  font-size: 12px;
  font-weight: normal;
}
a:hover.command {color:#ff5e00;}
.command-label {
  padding: 0px;
  text-decoration: none;
  color: #333;
  margin: 0px 4px;
  font-size: 12px;
  font-weight: normal;
}
.command-input {
  color:#333;
  border:1px solid #999;
  outline: none;
}
p {
  margin:8px 0;
}
.inline-help {
  float:right;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  letter-spacing: 0.02em;
  font-size: 10px;
  color: #c5c5c5;
}
.large-font {
  font-size: 24px;
}
.account-container {
  maring:5px 0;
  font-size: smaller;
}

div#login-dropdown-list {
    border: 1px solid darkgrey;
    padding: 16px;
    display: inline-table;
    position: absolute;
    z-index: 9999;
    background: white;
    margin-top: 25px;
    margin-left: -10px;
    box-shadow: 2px 2px 15px lightgrey;
    min-width: 200px;
}
a.login-close-text {
    padding-bottom: 6px;
    display: inline-block;
}
.accounts-dialog > a, .additional-link-container > a {
    text-decoration: underline;
    cursor: pointer;
}
label#login-username-label,
label#login-username-or-email-label,
label#login-password-label,
label#login-email-label,
label#login-password-again-label {
    width: 100px;
    display: inline-block;
    line-height: 20px;
}

.login-button {
  border: 1px solid darkgray;
  /* display: inline; */
  padding: 0;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
  margin: 13px 0px;
  /* box-shadow: inset 1px 1px 17px lightgrey; */
}
#login-password-label-and-input,
#login-username-label-and-input,
#login-username-or-email-input{
  margin: 3px 0px;
}
#login-password-label-and-input input,
#login-username-label-and-input input,
input#login-username-or-email,
input#login-email,
input#login-password-again  {
  padding: 6px;
  font-size: initial;
  border: 1px solid #9e9e9e;
  border-radius: 4px;
  margin: 5px 0px;
  outline:none;
}
.login-link-and-dropdown-list a {
  cursor: pointer;
}
.log-line-content  a {
  font-style:italic;
}
.button-default,
.button-default:active,
.button-default:focus,
.button-default:visited {
  /*font-size: 13px;
  display: inline-block;
  margin: 10px 5px;
  float: right;*/

  border: 1px solid darkgray;
  padding: 5px 8px;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
  margin: 13px 0px;
  font-size: 14px;
  margin: 8px 5px;
  background: white;
  float: right;
  outline: none;

}
.button-small,
.button-small:active,
.button-small:focus,
.button-small:visited {
  padding: 1px 7px;
  margin: 6px 5px;
  font-size: 10px;
}
.show-menu,
.show-menu:hover {
  margin-left: 5px;
  text-decoration: none;
  font-size: large;
}
.arrow-style {
  padding-right: 3px;
}
